In [54]:
sid = '1510700'
name = 'Nguyen Thanh Dat'

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [55]:
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

In [56]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [57]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##  preprocess data

In [58]:
dataset = (data_train,data_test)

In [59]:
for ds in dataset:
    ds['Sex']= ds['Sex'].map({'female':0,'male':1}).astype(int)
    ds['Age'] = ds['Age'].fillna(ds['Age'].median())
    ds.loc[ds["Age"] <= 9, "Age"] = 0
    ds.loc[(ds["Age"] > 9) & (ds["Age"] <= 19), "Age"] = 1
    ds.loc[(ds["Age"] > 19) & (ds["Age"] <= 29), "Age"] = 2
    ds.loc[(ds["Age"] > 29) & (ds["Age"] <= 39), "Age"] = 3
    ds.loc[(ds["Age"] > 29) & (ds["Age"] <= 39), "Age"] = 3
    ds.loc[ds["Age"] > 39, "Age"] = 4
    
    ds['Cabin'] = ds['Cabin'].apply(lambda x:0 if type(x)== float else 1)
    ds['Embarked'] = ds['Embarked'].fillna('S')
    ds['SibSp'] =ds['SibSp'].fillna(0)
    ds['Embarked'] =ds['Embarked'].apply(lambda x: 0 if x=="S" else 1)
    ds['Fare'] = ds['Fare'].fillna(ds['Fare'].median())
    ds.loc[ds["Fare"] <= 7.75, "Fare"] = 0
    ds.loc[(ds["Fare"] > 7.75) & (ds["Fare"] <= 7.91), "Fare"] = 1
    ds.loc[(ds["Fare"] > 7.91) & (ds["Fare"] <= 9.841), "Fare"] = 2
    ds.loc[(ds["Fare"] > 9.841) & (ds["Fare"] <= 14.454), "Fare"] = 3   
    ds.loc[(ds["Fare"] > 14.454) & (ds["Fare"] <= 24.479), "Fare"] = 4
    ds.loc[(ds["Fare"] >24.479) & (ds["Fare"] <= 31), "Fare"] = 5   
    ds.loc[(ds["Fare"] > 31) & (ds["Fare"] <= 69.487), "Fare"] = 6
    ds.loc[ds["Fare"] > 69.487, "Fare"] = 7

In [60]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,2.0,1,0,A/5 21171,0.0,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,3.0,1,0,PC 17599,7.0,1,1
2,3,1,3,"Heikkinen, Miss. Laina",0,2.0,0,0,STON/O2. 3101282,2.0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,3.0,1,0,113803,6.0,1,0
4,5,0,3,"Allen, Mr. William Henry",1,3.0,0,0,373450,2.0,0,0

In [61]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          891 non-null int64
Embarked       891 non-null int64
dtypes: float64(2), int64(8), object(2)
memory usage: 83.6+ KB

In [62]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           418 non-null float64
Cabin          418 non-null int64
Embarked       418 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 36.0+ KB

## split data to train and test

In [86]:
X_train = data_train.drop(['Name','Ticket','Survived'],axis =1)
y_train = data_train['Survived']

In [87]:
X_test = data_test.drop(['Name','Ticket'],axis =1)
y_fact = pd.read_csv('gender_submission.csv')
y_test = y_fact['Survived']

In [88]:
X_test.head()

X_test = X_test.drop('PassengerId',axis = 1)
X_train = X_train.drop('PassengerId',axis = 1)

# Training a Decision Tree Model and Evaluation

In [89]:


from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)
pred = dtree.predict(X_test)
from sklearn.metrics import confusion_matrix,classification_report
print(classification_report(y_test,pred))
print(confusion_matrix(y_test,pred))

             precision    recall  f1-score   support

          0       0.84      0.86      0.85       266
          1       0.75      0.72      0.73       152

avg / total       0.81      0.81      0.81       418

[[230  36]
 [ 43 109]]

In [90]:
pd.concat((pd.DataFrame(X_train.iloc[:, :].columns, columns = ['variable']), 
           pd.DataFrame(dtree.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

   variable  importance
1       Sex    0.410573
2       Age    0.124606
5      Fare    0.121449
0    Pclass    0.119899
3     SibSp    0.088581
6     Cabin    0.054031
4     Parch    0.044021
7  Embarked    0.036840

# Training a Decision Random Forest Model and Evaluation ¶

In [91]:

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train,y_train)
rfc_pred = rfc.predict(X_test)
print(classification_report(y_test,rfc_pred))
print(confusion_matrix(y_test,rfc_pred))

             precision    recall  f1-score   support

          0       0.85      0.87      0.86       266
          1       0.77      0.73      0.75       152

avg / total       0.82      0.82      0.82       418

[[232  34]
 [ 41 111]]

In [92]:
pd.concat((pd.DataFrame(X_train.iloc[:, :].columns, columns = ['variable']), 
           pd.DataFrame(rfc.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

   variable  importance
1       Sex    0.342417
5      Fare    0.154059
2       Age    0.146597
0    Pclass    0.109253
3     SibSp    0.080650
6     Cabin    0.067647
4     Parch    0.057872
7  Embarked    0.041504